* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

body {
    font-family: 'Aleo', serif;
    overflow-x: hidden;
}

.nabvar {
    width: 90%;
    margin:0 auto;
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    
}

.container{
    width: 100vw;
    background-color: #222222;
}

.title-app {
    color: #FDFDFD;
    letter-spacing: 3px;
}


.container-movies {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:594px){
    .nabvar {
        width: 90%;
        margin:0 auto;
        padding: 1em;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }

    .title-app {
        margin: 0.5em 0;
    }

}
